<p id="notice"><%= notice %></p>

<h1>Materis</h1>

<table>
  <thead>
    <tr>
      <th>Judul</th>
      <th>Deskripsi</th>
      <th>Namafile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materis.each do |materi| %>
      <tr>
        <td><%= materi.judul %></td>
        <td><%= materi.deskripsi %></td>
        <td><%= materi.namafile %></td>
        <td><%= link_to 'Show', materi %></td>
        <td><%= link_to 'Edit', edit_materi_path(materi) %></td>
        <td><%= link_to 'Destroy', materi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Materi', new_materi_path %>
