<p id="notice"><%= notice %></p>
<h1>List Materi  <%= link_to 'Tambah Materi', new_materi_path, class:'btn btn-warning' %></h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Judul</th>
      <th>Deskripsi</th>
      <th>File</th>
      <th colspan="3"> Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% @materis.each do |materi| %>
    <tr>
      <td><%= materi.judul %></td>
      <td><%= materi.deskripsi %></td>
      <td><a href="<%= materi.namafile %>" class="btn btn-primary">Download Materi</a></td>
      <td><%= link_to 'Show', materi %></td>
      <td><%= link_to 'Edit', edit_materi_path(materi) %></td>
      <td><%= link_to 'Delete', materi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>