
<div class="text-center">
<h2>Konfirmasi Pembayaran</h2>
<small>Silahkan konfirmasi pembayaran jika bukti pembayaran sudah ada!</small>
</div>
<br>
<div class="container">
	
<table class="table">
  <thead>
    <tr>
      <th>Nama Mahasiswa</th>
      <th>NIM</th>
      <th>Bukti</th>
      <th>Konfirmasi</th>
      <th> Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.nim %></td>
      <% if user.bukti_pembayaran.blank? %>
      <td><a href="<%= user.bukti_pembayaran %>" class="btn btn-danger disabled">Lihat</a></td>
      <% else %>
      <td><a href="<%= user.bukti_pembayaran %>" class="btn btn-success">Lihat</a></td>
      <% end %>

      <% if user.confirm %>
      <td> <p class="text-success">Sudah Bayar </p></td>
      <td><a href="#" class="btn btn-success disabled" >Confirm</a></td>
      <% else %>
      <td><p class="text-danger">Belum Bayar </p></td>
      <td><a href="<%= konfirmasi_user_path + '?id_user=' + user.id.to_s %>" class="btn btn-danger">Confirm</a></td>
      <%end%>
      
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<br>