<!DOCTYPE html>
<html>
  <head>
    <title>HappidyVer1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navhome' %>
    <%= render 'layouts/alerts' %>
    <section class="container">
       <%= yield %>
    </section>
   
    <br>
    <br>
    <br>
    <br>
    <%= render 'layouts/footer' %>
  </body>
</html>
